{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true
  },
  "extends": "uploadcare",
  "rules": {
    "require-jsdoc": "off",
    "max-statements": "off",
    "max-nested-callbacks": "off",
    "new-cap": "off"
  }
}
